In [76]:
import pandas as pd
import numpy as np
import time
import random
import os
import sys

In [297]:
data=np.zeros(9)
data.astype(int)
data[0]=time.strftime("%Y%m%d%H%M%S",time.localtime())
columns=["time","ch1","ch2","ch3","ch4","ch5","ch6","ch7","ch8"]
cvs=pd.DataFrame(columns=columns, index=[0])

In [291]:
cvs

   ch1  ch2  ch3  ch4  ch5  ch6  ch7  ch8
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [318]:
data=np.ndarray(9)
data[0]=time.strftime("%Y%m%d%H%M%S",time.localtime())

for i in range(1,9):
    data[i]= random.randint(0,1023)
    print(data[i])
data.astype(int)

tes=pd.DataFrame(columns=columns,data=data.reshape(1,-1))
tes

37.0
692.0
882.0
805.0
917.0
422.0
164.0
706.0

           time   ch1    ch2    ch3    ch4    ch5    ch6    ch7    ch8
0  2.017051e+13  37.0  692.0  882.0  805.0  917.0  422.0  164.0  706.0

In [310]:
cvs

            time    ch1    ch2    ch3    ch4    ch5    ch6    ch7    ch8
 0  2.017051e+13  411.0  292.0  369.0   70.0  290.0  896.0  470.0  738.0
-1  2.017051e+13  480.0  180.0  521.0  553.0  930.0  881.0   28.0  990.0
 2  2.017051e+13  218.0  560.0  864.0  788.0  203.0  717.0  939.0  527.0
 3  2.017051e+13  218.0  560.0  864.0  788.0  203.0  717.0  939.0  527.0

In [ ]:
cvs.index=cvs.index.astype(int)

In [280]:
filename=time.strftime("%Y%m%d_%H%M%S",time.localtime())
dirPath=os.path.dirname(os.path.abspath(sys.argv[0]))

In [282]:
filePath=os.path.join(dirPath,filename)
filePath

'/Users/leason/anaconda/lib/python3.6/site-packages/ipykernel/20170507_230733'

In [283]:
cvs.to_csv(filePath)

In [10]:
#!/usr/bin/env python3

"""This script prompts a user to enter a message to encode or decode
   using a classic Caeser shift substitution (3 letter shift)"""
 

import sys
import os
import time
import Adafruit_MCP3008
import numpy as np
import Adafruit_GPIO.SPI as SPI
import pandas as pd


times=5000

SPI_PORT= 0
SPI_DEVICE = 0
chnum = 1
chnum = int(input("chanel_num:"))

chnum=chnum


if 1<= int(chnum) <= 8:
    pass
else:
    chnum=1

data=np.zeros((times,int(chnum)))



for count in range(times):
    for i in range(0,chnum):
        data[count,i]= random.randint(0,1023)


columns = ["ch1", "ch2", "ch3","ch4","ch5","ch6","ch7","ch8"]
cvs=pd.DataFrame(columns=columns[0:chnum],data=data)

#cvs.loc[count]=data[:]
filename=time.strftime("%Y%m%d_%H%M%S",time.localtime())
dirPath=os.path.dirname(os.path.abspath(sys.argv[0]))
filePath=os.path.join(dirPath,filename+".csv")
cvs.to_csv(filePath)

chanel_num:1

In [12]:
cvs

         ch1
0      550.0
1      766.0
2      552.0
3      859.0
4      945.0
5      240.0
6      641.0
7      948.0
8      322.0
9      465.0
10     427.0
11     241.0
12     467.0
13     984.0
14     639.0
15     867.0
16     319.0
17     486.0
18     575.0
19     144.0
20     705.0
21     122.0
22     209.0
23     243.0
24     934.0
25     973.0
26    1012.0
27     982.0
28     570.0
29     129.0
...      ...
4970   226.0
4971   748.0
4972   722.0
4973  1004.0
4974   525.0
4975   589.0
4976   300.0
4977   400.0
4978   994.0
4979   101.0
4980   955.0
4981   257.0
4982   392.0
4983   959.0
4984   517.0
4985   665.0
4986    19.0
4987    81.0
4988   612.0
4989   915.0
4990   437.0
4991   552.0
4992   312.0
4993   778.0
4994   450.0
4995   960.0
4996   105.0
4997   914.0
4998   337.0
4999   227.0

[5000 rows x 1 columns]

In [222]:
def read_adc_loop( adc_chnumber,Time):
    #command=np.zeros([adc_chnumber,2]).astype(np.int64)
    command={}
    times=range(Time)
    generalData=np.zeros([Time,adc_chnumber,3])
    for adc_number in range(adc_chnumber):
        command[adc_number,0] = 0b11 << 6                  
        command[adc_number,0] |= (adc_number & 0x07) << 3 
        command[adc_number,1]=adc_number 
    startTime = time.time()
    for i in times:
        for chcommand in  command:
            pass
        # generalData[i,chcommand[1]]=r
    endTime=time.time()
    samplerate=Time/(endTime-startTime)
    print('samplerate:{samplerate}'.format(samplerate=samplerate))

In [224]:
read_adc_loop(2,5000)

samplerate:2886651.066758431

In [210]:
import ctypes

In [214]:
command = 0b11 << 6                  
        # Start bit, single channel read
command |= (0 & 0x07) << 3 
command

192